{% extends 'base.html' %}

{% block head %}
	{% if timelike_list %}
    <script>
      // ensure the web page (DOM) has loaded
      document.addEventListener("DOMContentLoaded", function () {
 		{% for Timelike in timelike_list %}	
 		
           // Create a popcorn instance by calling the Youtube player plugin
         var {{ Timelike.title }} = Popcorn.youtube(
           "#video{{ Timelike.title }}",
           '{{ Timelike.youtubesource }}' );
 
         // add a footnote at 2 seconds, and remove it at 6 seconds

 
         // play the video right away
         {{ Timelike.title }}.play();
 		 {% endfor %}

 		 
      }, false);
      
    </script>
    {% endif %}
{% endblock %}

{% block content %}
	{% if timelike_list %}
		{% for Timelike in timelike_list %}	
			 <div class="container">
				 	<div class="row">
				 		<div class="span8">
				 			<h1>TEST VIDEO</h1>
				 			<div class="timelikevideo" id="video{{ Timelike.title }}">
				 			</div>
				 			
				 		</div>
					</div>
				</div>							
		{% endfor %}
		<div class="timelikevideo" id="testid">
			
		</div>
	{% endif %}
{% endblock %}
