<!--Include this in the head.  Remember to set appropriate context if Timelike is called something else.	-->		 
			 
			 
			 <div class="container">
			 		<div class="row">
			 			<div class="span8">
			 				<h1>{{ Timelike.title }} <button id="btn{{ Timelike.id }}" class="btn pull-right">Comments</button></h1>
			 			</div>
			 		</div>	
				 	<div class="row">
				 		<div class="span8 col1">
				 			
				 			<div class="timelikevideo" id="video{{ Timelike.id }}">
				 			</div>
						 	<div id="subtitle{{ Timelike.id }}">
						 		<div class='row'>
						 			<div class='span8 well'>
						 				<div class='timelikecomment'>
						 					{% include 'forum/timelikeCommentBody.html' %}
						 					{% for comment in Timelike.comment.all %}
						 						{% if comment.isBasic %}
						 						<h4 id='video{{ Timelike.id }}footnote{{ comment.id }}'></h4>
						 						{% endif %}
						 					{% endfor %}
						 				</div>
						 			</div>
						 		</div>
						 	</div>
				 		</div>
						<div id="sidemenu{{ Timelike.id }}">
							<div class="span4 col2">
								<div class="well">
									<div class="row text-center">
										<ul class="nav nav-pills center-pills">
											<li class="active"><a href="#text{{ Timelike.id }}" data-toggle="tab">Text</a></li>
											<li class="dropdown">
												<a data-target="#" data-toggle="dropdown">Transcript<b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#transcriptLive{{ Timelike.id }}" data-toggle="tab">Live</a></li>
													<li><a href="#transcriptFull{{ Timelike.id }}" data-toggle="tab">Full</a></li>
												</ul>	
											</li>
											
										</ul>
									</div>
									<div class="tab-content col3">
										<div class="tab-pane fade in active" id="text{{ Timelike.id }}">
											{% for comment in Timelike.comment.all %}
												{% if not comment.isBasic %}
													<h4 id="video{{ Timelike.id }}footnote{{ comment.id }}"></h4>
												{% endif %}
											{% endfor %}
										</div>
										<div class="tab-pane fade" id="transcriptLive{{ Timelike.id }}">{% spaceless %}
											{% for comment in Timelike.comment.all %}
												<h4 id="video{{ Timelike.id }}transcript{{ comment.id }}"></h4>
											{% endfor %}
										{% endspaceless %}</div>
										<div class="tab-pane fade" id="transcriptFull{{ Timelike.id }}">{% spaceless %}
											{% for comment in Timelike.comment.all %}
												<h4 id="video{{ Timelike.id }}transcriptFull{{ comment.id }}"></h4>
											{% endfor %}
										{% endspaceless %}</div>
									</div>
								</well>	
							</div>
						</div>
		 			</div>	
			</div>