{% extends 'base.html' %}

{% block head %}
	{% if timelike_list %}
    <script>
      // ensure the web page (DOM) has loaded
      document.addEventListener("DOMContentLoaded", function () {
 		{% for Timelike in timelike_list %}	
 		
           // Create a popcorn instance by calling the Youtube player plugin
         var time{{ Timelike.id }} = Popcorn.youtube(
           "#video{{ Timelike.id }}",
           '{{ Timelike.youtubesource }}' );
 
         // add a footnote at 2 seconds, and remove it at 6 seconds
		 {% for comment in Timelike.comment.all %}
		 time{{ Timelike.id }}.footnote({
		 	start: {{ comment.start }},
		 	end: {{ comment.end }},
		 	text: "{{ comment.comment }}",
		 	target: "footnote{{ comment.id }}"
		 });
		 
		 {% endfor %} 
         // play the video right away
         time{{ Timelike.id }}.play();
 		 {% endfor %}
 		 
      }, false);
      
    </script>
    {% endif %}
{% endblock %}

{% block content %}
	{% if timelike_list %}
		{% for Timelike in timelike_list %}	
			 <div class="container">
				 	<div class="row">
				 		<div class="span8">
				 			<h1>{{ Timelike.title }}</h1>
				 			<div class="timelikevideo" id="video{{ Timelike.id }}">
				 			</div>
				 			
				 		</div>
					</div>
					<div class="row">
						<div class="span8 well">
							<div class="timelikecomment">
								{% for comment in Timelike.comment.all %}
								<p>TEST</p>
				 				<h1 id="footnote{{ comment.id }}"></h1>
				 				{% endfor %}
				 			</div>
				 		</div>
				 	</div>		
				</div>							
		{% endfor %}

	{% endif %}
{% endblock %}
