<!--Include this in the head.  Remember to set appropriate context if Timelike is called something else.	-->		 
			 
			 
			 <div class="container">
			 		<div class="row">
			 			<div class="span8">
			 				<h1>{{ Timelike.title }} <button id="btn{{ Timelike.id }}" class="btn pull-right">Comments</button></h1>
			 			</div>
			 		</div>	
				 	<div class="row col-wrap">
				 		<div class="span8">
				 			
				 			<div class="timelikevideo" id="video{{ Timelike.id }}">
				 			</div>
						 	<div id="subtitle{{ Timelike.id }}"></div>
						 	
						 			
				 		</div>
						<div id="sidemenu{{ Timelike.id }}"></div>
					
		 			</div>	
			</div>