<!--Include this where you would like the video to appear. Remember to set appropriate context if timelike_list is called something else.-->
{% if timelike_list %}
    <script type="text/javascript">    // ensure the web page (DOM) has loaded
	      $(document).ready(function () {
	      	//Due to the way DOMContentLoaded works we have to break up the for loop into 2 parts 
	 		{% for Timelike in timelike_list %}	
	          //This is Popcorn.js
	           // Create a popcorn instance by calling the Youtube player plugin
	         var time{{ Timelike.id }} = Popcorn.youtube(
	           "#video{{ Timelike.id }}",
	           "{{ Timelike.youtubesource }}" );
	        {% endfor %}
	 		{% for Timelike in timelike_list %}
	 		time{{ Timelike.id }}.code({
			 	start: 0.00000001,
			 	onStart: function() {
			 		$("#subtitle{{ Timelike.id }}").show();
			 		$("#sidemenu{{ Timelike.id }}").show();
			 	}
			 });
	         {% if Timelike.comment.all %}
			 {% for comment in Timelike.comment.all %}
			 {% if comment.isBasic %}
			 time{{ Timelike.id }}.footnote({
			 	start: {{ comment.start }},
			 	end: {% if comment.get_later_start %}{{ comment.get_later_start }}{% else %}{{ comment.end }}{% endif %},
			 	text: "{{ comment.comment }}",
			 	target: "video{{ Timelike.id }}footnote{{ comment.id }}"
			 });
			 {% else %}
			 time{{ Timelike.id }}.footnote({
			 	start: {{ comment.start }},
			 	end: {{ comment.end }},
			 	text: "{{ comment.comment }}",
			 	target: "video{{ Timelike.id }}footnote{{ comment.id }}"
			 });
			 {% endif %}
			 time{{ Timelike.id }}.footnote({
			 	start: {{ comment.start }},
			 	text: Math.floor({{ comment.start }})+ "s "+ "{{ comment.comment }}",
			 	target: "video{{ Timelike.id }}transcript{{ comment.id }}"
			 	
			 });

			 $("#video{{ Timelike.id }}transcript{{ comment.id }}").click(function(){
			 			time{{ Timelike.id }}.play();
			 			time{{ Timelike.id }}.currentTime( {{ comment.start }} );
			 });			 
			 {% endfor %}
			 {% endif %}
	 		 {% endfor %}
	 		 {% include 'forum/timelikeCommentHead.html' %}
	 		 {% for Timelike in timelike_list %}
	 		 // This is jquery.js
	 		 $('#btn{{ Timelike.id }}').button();
 			 $('#btn{{ Timelike.id }}').click(function(){
				    // toggle our footnote on/off with each click
				   $("#subtitle{{ Timelike.id }}").toggle();
				   $("#sidemenu{{ Timelike.id }}").toggle();
				});
			   {% endfor %}
			   
	      });
	    </script>
	   
{% endif %}