
			$('input.comment').on('keyup', function() {
			  $(this).next('.mybtn').click();
			});
			{% for ImageClass in ImageClass_list %}		
			$('#form{{ ImageClass.id }}').submit(function(event{{ ImageClass.id }}) {
				//do some form cleaning here
				
				var end{{ ImageClass.id }} = time{{ ImageClass.id }}.currentTime()+10;
				var endPost{{ ImageClass.id }} = '&end=' + end{{ ImageClass.id }};
				var authorPost{{ ImageClass.id }} = '&author=1';				
				var titlePost{{ ImageClass.id }} = '&title=' +"ImageClass " + {{ ImageClass.id }} +" at "+time{{ ImageClass.id }}.currentTime() +" " + Date();
				
				var objectidPost{{ ImageClass.id }} = '&object_id={{ ImageClass.id }}';
				var start{{ ImageClass.id }} = time{{ ImageClass.id }}.currentTime();
				var startPost{{ ImageClass.id }} = '&start=' + start{{ ImageClass.id }};
				var contenttypePost{{ ImageClass.id }} = '&content_type=2';
				
				if ($('#id_comment{{ ImageClass.id }}').prop('checked')){
					var totalData = $(this).serialize() +  endPost{{ ImageClass.id }} + authorPost{{ ImageClass.id }} + titlePost{{ ImageClass.id }} + objectidPost{{ ImageClass.id }} + startPost{{ ImageClass.id }} + contenttypePost{{ ImageClass.id }};
				}
				else {
					var totalData =	$(this).serialize() +  endPost{{ ImageClass.id }} + authorPost{{ ImageClass.id }} + titlePost{{ ImageClass.id }} + objectidPost{{ ImageClass.id }} + startPost{{ ImageClass.id }} + contenttypePost{{ ImageClass.id }} +'&isBasic=False';
				}
				$.ajax({
					url:"{% url 'timeview' %}",
					data: totalData,
					type: "POST",
					dataType: "json",
					success: function( data{{ ImageClass.id }} ) {
						
						var contain{{ ImageClass.id }} = "video" +data{{ ImageClass.id }}.object_id + "footnote" + data{{ ImageClass.id }}.id;
						var containhtml{{ ImageClass.id }} = '<h4 id="' + contain{{ ImageClass.id }} + '"></h4>';
						var containtran{{ ImageClass.id }} = "video" +data{{ ImageClass.id }}.object_id + "transcript" + data{{ ImageClass.id }}.id;
						var containtranhtml{{ ImageClass.id }} = '<h4 id="' + containtran{{ ImageClass.id }} + '"></h4>';			
						var prevhtml{{ ImageClass.id }} = "#video" +data{{ ImageClass.id }}.object_id + "transcript" + data{{ ImageClass.id }}.previd;
						var containtranFull{{ ImageClass.id }} = "video" +data{{ ImageClass.id }}.object_id + "transcriptFull" + data{{ ImageClass.id }}.id;
						var containtranFullhtml{{ ImageClass.id }} = '<h4 id="' + containtranFull{{ ImageClass.id }} + '"></h4>';
						var prevFullhtml{{ ImageClass.id }} = "#video" +data{{ ImageClass.id }}.object_id + "transcriptFull" + data{{ ImageClass.id }}.previd;	
						
						if(data{{ ImageClass.id }}.isBasic){
							$("#sidemenu{{ ImageClass.id }}").find('#text{{ ImageClass.id }}').append(containhtml{{ ImageClass.id }});
						}
						else{
							$("#subtitle{{ ImageClass.id }}").find('.ImageClasscomment').append(containhtml{{ ImageClass.id }});
						}
						
						
							if ( data{{ ImageClass.id }}.previd != data{{ ImageClass.id }}.id ){
								
								$("#transcriptLive{{ ImageClass.id }}").find(prevhtml{{ ImageClass.id }}).before(containtranhtml{{ ImageClass.id }});
								$("#transcriptFull{{ ImageClass.id }}").find(prevFullhtml{{ ImageClass.id }}).before(containtranFullhtml{{ ImageClass.id }});
							}
							else {
								$("#transcriptLive{{ ImageClass.id }}").append(containtranhtml{{ ImageClass.id }});
								$("#transcriptFull{{ ImageClass.id }}").append(containtranFullhtml{{ ImageClass.id }});
							}
							
							
						time{{ ImageClass.id }}.footnote({
						 	start: data{{ ImageClass.id }}.start,
						 	end: data{{ ImageClass.id }}.end,
						 	text: data{{ ImageClass.id }}.comment,
						 	target: contain{{ ImageClass.id }},
					 	});
					 	
					 	time{{ ImageClass.id }}.footnote({
						 	start: data{{ ImageClass.id }}.start,
						 	text: Math.floor(data{{ ImageClass.id }}.start) + "s "+ data{{ ImageClass.id }}.comment,
						 	target: containtran{{ ImageClass.id }},
					 	});
					 	
					 	time{{ ImageClass.id }}.footnote({
						 	start: 0,
						 	text: Math.floor(data{{ ImageClass.id }}.start) + "s "+ data{{ ImageClass.id }}.comment,
						 	target: containtranFull{{ ImageClass.id }},
					 	});
					 	
					 	$("#" + containtran{{ ImageClass.id }}).click(function(){
			 				time{{ ImageClass.id }}.play();
			 				time{{ ImageClass.id }}.currentTime( data{{ ImageClass.id }}.start );
						 });
						 
						 $("#" + containtranFull{{ ImageClass.id }}).click(function(){
			 				time{{ ImageClass.id }}.play();
			 				time{{ ImageClass.id }}.currentTime( data{{ ImageClass.id }}.start );
						 });		
						
						
					},
					
					error: function( xhr, status ) {
						alert("Sorry, there was a problem!");
					},
					
					complete: function( xhr, status ) {
						$('#form{{ ImageClass.id }}')[0].reset();
					},
										
				});
				event{{ ImageClass.id }}.preventDefault();
			});
			{% endfor %}
					
