
			$('input.comment').on('keyup', function() {
			  $(this).next('.mybtn').click();
			});
			{% for Sentence in Sentence_list %}		
			$('#form{{ Sentence.id }}').submit(function(event{{ Sentence.id }}) {
				//do some form cleaning here
				
				var end{{ Sentence.id }} = time{{ Sentence.id }}.currentTime()+10;
				var endPost{{ Sentence.id }} = '&end=' + end{{ Sentence.id }};
				var authorPost{{ Sentence.id }} = '&author=1';				
				var titlePost{{ Sentence.id }} = '&title=' +"Sentence " + {{ Sentence.id }} +" at "+time{{ Sentence.id }}.currentTime() +" " + Date();
				
				var objectidPost{{ Sentence.id }} = '&object_id={{ Sentence.id }}';
				var start{{ Sentence.id }} = time{{ Sentence.id }}.currentTime();
				var startPost{{ Sentence.id }} = '&start=' + start{{ Sentence.id }};
				var contenttypePost{{ Sentence.id }} = '&content_type=3';
				
				if ($('#id_comment{{ Sentence.id }}').prop('checked')){
					var totalData = $(this).serialize() +  endPost{{ Sentence.id }} + authorPost{{ Sentence.id }} + titlePost{{ Sentence.id }} + objectidPost{{ Sentence.id }} + startPost{{ Sentence.id }} + contenttypePost{{ Sentence.id }};
				}
				else {
					var totalData =	$(this).serialize() +  endPost{{ Sentence.id }} + authorPost{{ Sentence.id }} + titlePost{{ Sentence.id }} + objectidPost{{ Sentence.id }} + startPost{{ Sentence.id }} + contenttypePost{{ Sentence.id }} +'&isBasic=False';
				}
				$.ajax({
					url:"{% url 'timeview' %}",
					data: totalData,
					type: "POST",
					dataType: "json",
					success: function( data{{ Sentence.id }} ) {
						
						var contain{{ Sentence.id }} = "video" +data{{ Sentence.id }}.object_id + "footnote" + data{{ Sentence.id }}.id;
						var containhtml{{ Sentence.id }} = '<h4 id="' + contain{{ Sentence.id }} + '"></h4>';
						var containtran{{ Sentence.id }} = "video" +data{{ Sentence.id }}.object_id + "transcript" + data{{ Sentence.id }}.id;
						var containtranhtml{{ Sentence.id }} = '<h4 id="' + containtran{{ Sentence.id }} + '"></h4>';			
						var prevhtml{{ Sentence.id }} = "#video" +data{{ Sentence.id }}.object_id + "transcript" + data{{ Sentence.id }}.previd;
						var containtranFull{{ Sentence.id }} = "video" +data{{ Sentence.id }}.object_id + "transcriptFull" + data{{ Sentence.id }}.id;
						var containtranFullhtml{{ Sentence.id }} = '<h4 id="' + containtranFull{{ Sentence.id }} + '"></h4>';
						var prevFullhtml{{ Sentence.id }} = "#video" +data{{ Sentence.id }}.object_id + "transcriptFull" + data{{ Sentence.id }}.previd;	
						
						if(data{{ Sentence.id }}.isBasic){
							$("#sidemenu{{ Sentence.id }}").find('#text{{ Sentence.id }}').append(containhtml{{ Sentence.id }});
						}
						else{
							$("#subtitle{{ Sentence.id }}").find('.Sentencecomment').append(containhtml{{ Sentence.id }});
						}
						
						
							if ( data{{ Sentence.id }}.previd != data{{ Sentence.id }}.id ){
								
								$("#transcriptLive{{ Sentence.id }}").find(prevhtml{{ Sentence.id }}).before(containtranhtml{{ Sentence.id }});
								$("#transcriptFull{{ Sentence.id }}").find(prevFullhtml{{ Sentence.id }}).before(containtranFullhtml{{ Sentence.id }});
							}
							else {
								$("#transcriptLive{{ Sentence.id }}").append(containtranhtml{{ Sentence.id }});
								$("#transcriptFull{{ Sentence.id }}").append(containtranFullhtml{{ Sentence.id }});
							}
							
							
						time{{ Sentence.id }}.footnote({
						 	start: data{{ Sentence.id }}.start,
						 	end: data{{ Sentence.id }}.end,
						 	text: data{{ Sentence.id }}.comment,
						 	target: contain{{ Sentence.id }},
					 	});
					 	
					 	time{{ Sentence.id }}.footnote({
						 	start: data{{ Sentence.id }}.start,
						 	text: Math.floor(data{{ Sentence.id }}.start) + "s "+ data{{ Sentence.id }}.comment,
						 	target: containtran{{ Sentence.id }},
					 	});
					 	
					 	time{{ Sentence.id }}.footnote({
						 	start: 0,
						 	text: Math.floor(data{{ Sentence.id }}.start) + "s "+ data{{ Sentence.id }}.comment,
						 	target: containtranFull{{ Sentence.id }},
					 	});
					 	
					 	$("#" + containtran{{ Sentence.id }}).click(function(){
			 				time{{ Sentence.id }}.play();
			 				time{{ Sentence.id }}.currentTime( data{{ Sentence.id }}.start );
						 });
						 
						 $("#" + containtranFull{{ Sentence.id }}).click(function(){
			 				time{{ Sentence.id }}.play();
			 				time{{ Sentence.id }}.currentTime( data{{ Sentence.id }}.start );
						 });		
						
						
					},
					
					error: function( xhr, status ) {
						alert("Sorry, there was a problem!");
					},
					
					complete: function( xhr, status ) {
						$('#form{{ Sentence.id }}')[0].reset();
					},
										
				});
				event{{ Sentence.id }}.preventDefault();
			});
			{% endfor %}
					
