{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
	<script type="text/javascript">
		$(document).ready(function(){
// This is to highlight a sentence when clicked on. And to pull the x,y position of the mouse to open a popup menu.
		    $('.sentence').click(function(){
    			$('.sentence').css('background-color', 'transparent');
   		    	$(this).css('background-color', '#ff9');
   		    	var xy = $(this).position();
   		    	var w = $(this).width();
   		    	var h = $('#txt_info').height();
   		    	$('#txt_info').css({'visibility':'visible', 'left':xy.left+w, 'top':xy.top-h});
  		 	});
  		 	
  		 	$('#txt_info').click(function(){
  		 		$(this).css({'visibility':'hidden'});
  		 		var xy = $(this).position();
  		 		$('#txt_context').css({'visibility':'visible', 'left':xy.left, 'top':xy.top});
  		 	});
  		 	
/* This function should hide things when you click on an empty place.
 * Figure a lot of things should dismiss on click.
 * It's commented out because I need to think of conflicts with the other actions on click.
 *  	 	$().click(function(){
 * 		 		$(#dismissOnClick).css({'visibility':'hidden'});
 * 		 	}); 
 */
		});
    </script>
{% endblock %}

{% block content %}

<!-- the following article was taken from h+ magazine.
	It contains a lot of text and two images.
	I want to be able to comment on the text and on the images.
	I also want an image that I can click to open a larger window for it.
-->

<div class="container">
	<div class="row">
		<div class="span6" style="border-style:solid">
			<div class="imgcontainer">
				<div class="imgdiv_img">
					<a href="#myModal" data-toggle="modal"><img class="alignnone" src="http://images2.wikia.nocookie.net/__cb20051121172739/uncyclopedia/images/1/13/The_Neitch.jpg" alt="" width="235" height="257" />
					</a>
				</div>
				<div class="imgdiv_options">
					<button class="btn"><i class="icon-tag"></i></button>
					<button class="btn"><i class="icon-picture"></i></button>
				</div>
			</div>
			<div class="imgcontainer">
				<div class="imgdiv_img">
					<a href="#" class="imagehover"><img class="alignnone" src="http://images2.wikia.nocookie.net/__cb20051121172739/uncyclopedia/images/1/13/The_Neitch.jpg" alt="" width="235" height="257" />
					</a>
				</div>
				<div class="imgdiv_options">
					<button class="btn"><i class="icon-tag"></i></button>
					<button class="btn"><i class="icon-picture"></i></button>
				</div>
			</div>
			
			<!-- toggle a modal with javascript using this button -->
			<button class="btn"><i class="icon-file"></i></button>
			
			<div class="txtcontainer">
			<p><span class="sentence">God is dead, said the man with the world's most exciting moustache. </span><span class="sentence">And many, seeing the dogma of ancient traditions as an anachronistic throwback to a time before the rise of reason, would seek to ensure that this process is completed as soon as possible. </span></p>
			<p><span class="sentence">Theirs is a passionately futurist vision. </span><span class="sentence">The ancient ways must die, they believe, for new ways to come. </span><span class="sentence">And to them, the purpose of the scientist is to join in this crusade, and heap scorn and derision on religion, superstition, and the ancient ways. </span></p>
			<p><span class="sentence">A great deal of energy is expended in this endeavor. </span><span class="sentence">The militant tendency among atheists is on the rise, and understandably so. </span></p>
			<p><span class="sentence">It is this -- that humanity has not shown itself a wise custodian of the great advances it has made. </span><span class="sentence">Einstein once searingly wrote: </span></p>
			<p style="padding-left: 30px;"><span class="sentence"><em>"Technological progress is like an axe in the hands of a pathological criminal."</em></span></p>
			<p><span class="sentence">And external technology does indeed have this quality to it. </span><span class="sentence">We are giving more power to an unreconstructed ape, with little ape concerns, little ape vendettas, and a little ape ego to protect at all costs. </span></p>
			<p><span class="sentence">External technology. </span><span class="sentence">External discovery. </span><span class="sentence">And it is the external aspect of science which has been stunningly successful. </span><span class="sentence">When it comes to the deeps of humanity, the fundamental structure of human nature, the origin of cruelty and suffering, the dynamics of openness, hope, joy and creativity -- these are things which science has been stunningly poor at charting. </span></p>
			<p><span class="sentence">Oh, of course, we have data. </span><span class="sentence">We have lots and lots of data. </span><span class="sentence">But again, to come back to Einstein, </span></p>
			<p style="padding-left: 30px;"><em><span class="sentence">"Data is not knowledge."</span></em></p>
			</div>
			<div class="imgcontainer">
				<div class="imgdiv_img">
					<p><img class="alignnone" src="http://media.npr.org/assets/img/2012/03/19/einstein-75dffc8af00c56b1cf93b7058f15af1360ac6bca-s6-c10.jpg" alt="" width="569" height="427" /></p>
				</div>
				<div class="imgdiv_options">
<!-- Because the image takes up the whole width, this options part is displayed beneath the image. I want it to the side.-->
					<button class="btn"><i class="icon-tag"></i></button>
					<button class="btn"><i class="icon-picture"></i></button>
				</div>
				<div class="imgdiv_captions">
				</div>
			</div>
			<div class="txtcontainer">
			<p><span class="sentence">To generate true knowledge you can't just collect data, hoping it will reach a critical mass and tell you what you need to know. </span><span class="sentence">You have to do what only humans can do, and get inside it, understand it. </span><span class="sentence">You have to make daring speculations that bring it all together. </span><span class="sentence">You have to leave your preconceptions behind, and all the things you want to believe. </span><span class="sentence">You have to imagine what it could all mean, and then test your imaginings, and watch them fail, and see how they fail, because seeing that leads you deeper still.</span></p>
			<p><span class="sentence">More than any of this, you have to stare into the dark, and the real possibility that underneath our masks of reason, there is nothing in humans worth finding, or worse -- that what you will find will be genuinely horrendous, and that knowledge of our true nature will blank out all hope in our lives.</span></p>
			<p><span class="sentence">This, I believe, is why it is that we collect data, and data, and yet more data but flinch from the deep conjectures that might make sense of it. </span><span class="sentence">We are afraid of what we might see. </span><span class="sentence">What it would mean. </span><span class="sentence">This is why science has failed to match its incredible advances in the external world with similar ones in the internal.</span></p>
			</div>
		</div>
	</div>
</div>

<!-- Button to trigger modal -->
<!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
 
<!-- Modal -->
<div id="myModal" class="modal hide fade large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Blueprint, comment away</h3>
  </div>
  <div class="modal-body-large">
  	<img class="alignnone" src="http://images.wikia.com/half-life/en/images/1/1a/Ashpd_blueprint_1.jpg" alt="" height="100%"/>
  </div>
  <div class="modal-footer">
	<div><p>Here are some captions on the image</p></div>
  </div>
</div>

<!-- Context menu for images -->

<!-- Info popup for text, this should display how many comments there are and have a button for adding comments -->
<div id="txt_info" style="visibility:hidden;z-index=2;position:absolute; top:0px; left:0px;">
<!-- I want the content here to look like a speech bubble with the number of comments inside. And upon hover, turn into a plus sign -->
	<a class="btn" id="txt_info_button">
		<div id="firstbtn">12</div>
		<div id="secondbtn">+</div>
	</a>
</div>

<!-- Context menu for text -->
<div id="txt_context" style="visibility:hidden; z-index=1; position:absolute; top:0px; left:0px; border-style:solid; background:white; display:block">
	<div id="txt_context_header" style="padding:0.25em">
		<i class="icon-pencil" style="float:left"></i>
		<i class="icon-remove" style="float:right"></i>
	</div>
	<div id="txt_context_menu">
		<ul>
			<li>12 comments</li>
<!-- the following links should automatically load up the relevant tabs in the modal -->
			<li><a href="#txt_comments" data-toggle="modal">Add comment</a></li>
			<li><a href="#txt_comments" data-toggle="modal">View comment</a></li>
		</ul>
	</div>
</div>

<!-- Container to display the text comments -->
<div class="modal hide fade" id="txt_comments" draggable="true">
	<div class="modal-header">
		<ul class="nav nav-tabs">
			<li><a href="#thread1" data-toggle="tab">Thread 1</a></li>
			<li><a href="#thread2" data-toggle="tab">Thread 2</a></li>
			<li><a href="#thread3" data-toggle="tab">Thread 3</a></li>
			<li><a href="#newthread" data-toggle="tab">New thread</a></li>
		</ul>
	</div>
	<div class="modal-body">
<!-- The tab contents needs to be pulled from the database and we need a better id method -->
		<div class="tab-content">
			<div class="tab-pane active" id="thread1">
				<p>There is the first comment thread. I need to be able to pull this from database.</p>
			</div>
			<div class="tab-pane" id="thread2">
				<p>This is the second comment thread.</p>
			</div>
			<div class="tab-pane" id="thread3">
				<p>This is the third.</p>
			</div>
			<div class="tab-pane" id="newthread">
				<p>Comment adding forms here</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>


<!-- Check for Zepto support, load jQuery if necessary -->
<script>
  document.write('<script src=/static/foundation4/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
</script>

{% endblock %}

{% block modal %}
<div id="firstModal" class="reveal-modal">
  <h2>This is a modal.</h2>
  <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
  <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p>
  <a class="close-reveal-modal">x</a>
</div>
{% endblock %}
